trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  ACR_NAME: InstaBackend
  ACR_LOGIN_SERVER: instabackend.azurecr.io
  IMAGE_REPO: myinstappbackend3
  RESOURCE_GROUP: instaapp
  WEBAPP_NAME: myinstappbackendweb

steps:
  - checkout: self

  # 1) Login to ACR (NO ACR Tasks, just Docker push)
  - task: AzureCLI@2
    displayName: "Login to ACR"
    inputs:
      azureSubscription: "sc-azure"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        set -e
        az acr login --name $(ACR_NAME)

  # 2) Build & Push with Docker
  - script: |
      set -e
      TAG="$(Build.SourceVersion)"
      IMAGE="$(ACR_LOGIN_SERVER)/$(IMAGE_REPO):$TAG"
      echo "Building: $IMAGE"
      docker build -t "$IMAGE" .

      echo "Pushing: $IMAGE"
      docker push "$IMAGE"
    displayName: "Docker build & push to ACR"

  # 3) Deploy to Web App (update image)
  - task: AzureCLI@2
    displayName: "Deploy Backend to Azure Web App"
    inputs:
      azureSubscription: "sc-azure"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        set -e
        TAG="$(Build.SourceVersion)"
        IMAGE="$(ACR_LOGIN_SERVER)/$(IMAGE_REPO):$TAG"

        echo "Updating web app $(WEBAPP_NAME) -> $IMAGE"
        az webapp config container set \
          --name $(WEBAPP_NAME) \
          --resource-group $(RESOURCE_GROUP) \
          --docker-image "$IMAGE"