trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  ACR_NAME: InstaBackend
  ACR_LOGIN_SERVER: instabackend.azurecr.io
  IMAGE_REPO: myinstappbackend3
  RESOURCE_GROUP: instaapp
  WEBAPP_NAME: myinstappbackendweb

steps:
  - checkout: self

  # 1) Login to ACR (NO ACR Tasks, just Docker push)
  - task: AzureCLI@2
    displayName: "Login to ACR"
    inputs:
      azureSubscription: "sc-azure"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        set -e
        az acr login --name $(ACR_NAME)

  # 2) Build & Push with Docker
  - script: |
      set -e
      TAG="$(Build.SourceVersion)"
      IMAGE="$(ACR_LOGIN_SERVER)/$(IMAGE_REPO):$TAG"
