trigger:
  branches:
    include:
      - main
      - master

variables:
  ACR_NAME: InstaBackend
  ACR_LOGIN_SERVER: instabackend.azurecr.io
  IMAGE_REPO: myinstappbackend3
  RESOURCE_GROUP: instaapp
  WEBAPP_NAME: myinstappbackendweb
  IMAGE_TAG: $(Build.BuildId)

stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
      - job: Build
        displayName: Build and Push
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self

          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: 'AzureServiceConnection'

          - task: Docker@2
            displayName: Build and Push Image
            inputs:
              command: buildAndPush
              repository: $(IMAGE_REPO)
              dockerfile: '**/Dockerfile'
              containerRegistry: 'AzureServiceConnection'
              tags: |
                $(IMAGE_TAG)

  - stage: Deploy
    displayName: Deploy to Azure Web App
    dependsOn: BuildAndPush
    jobs:
      - job: Deploy
        displayName: Deploy to Web App
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: AzureWebAppContainer@1
            displayName: Deploy to Azure Web App
            inputs:
              azureSubscription: 'AzureServiceConnection'
              appName: $(WEBAPP_NAME)
              resourceGroupName: $(RESOURCE_GROUP)
              containers: |
                $(ACR_LOGIN_SERVER)/$(IMAGE_REPO):$(IMAGE_TAG)
